* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(150deg, #ffbc03, #f58726);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 6em;
    color: white;
    letter-spacing: 2px;
    animation: fadeIn 2s ease-in-out;
}

.form-wrapper {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1.5em;
    padding: 40px;
    box-shadow: 10px 20px 40px rgba(255, 255, 255, 0.8);
    text-align: center;
}

h2 {
    font-family: "Playfair Display", serif;
    color: #ffbc03;
    font-size: 2em;
    margin-bottom: 15px;
}

.error-text {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}

.submit-btn {
    padding: 12px;
    font-size: 1.1em;
    background-color: #ffbc03;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

.submit-btn:hover {
    background-color: #f58726;
    transform: scale(1.05);
}