<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Dish</title>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/edit-dish.css">
</head>
<body>

<header>
    <h1>CookMaster</h1>
    <h2>Edit Dish</h2>
</header>

<form th:action="@{/dish/searching}" method="GET" class="search-box">
    <div class="wrapper-search">
        <div class="box-searching">
            <input type="text" id="search-tab" name="name" placeholder="Search..." required>
        </div>
        <div class="icon-button-wrapper">
            <button type="submit" id="search-btn">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>

<div class="card" th:if="${dishRequest}">
    <form th:action="@{/dish/update/{id}(id=${dish.id})}" method="post" th:object="${dishRequest}">
        <input type="hidden" name="_method" value="PATCH"/>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="hidden" name="id" th:value="${dish.id}"/>

        <label>Dish Name:</label>
        <input type="text" th:field="*{dishName}"/>

        <label>Dish Type:</label>
        <select th:field="*{dishType}">
            <option value="BREAKFAST">Breakfast</option>
            <option value="LUNCH">Lunch</option>
            <option value="DINNER">Dinner</option>
        </select>

        <label>Description:</label>
        <textarea th:field="*{dishDescription}"></textarea>

        <label>Ingredients:</label>
        <input type="text" id="ingredient" placeholder="Enter ingredient">
        <button class="add-btn" type="button" onclick="addIngredient()">+</button>

        <ul id="ingredients-list">

            <li th:each="ingredient : ${dishRequest.ingredients}">
                <span th:text="${ingredient}"></span>
                <input type="hidden" name="ingredients" th:value="${ingredient}"/>
                <button type="button" class="remove-btn" onclick="removeIngredient(this)">X</button>
            </li>
        </ul>

        <div id="save-wrapper-btn">
            <button class="save-btn" type="submit">Save</button>
        </div>
    </form>


    <form id="delete-form" th:action="@{/dish/delete/{id}(id=${dish.id})}" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit" class="delete-btn">Delete Dish</button>
    </form>

    <button class="shop-btn" onclick="openModal()">Add to <i class="fas fa-shopping-cart"></i></button>

    <form id="assignForm" th:action="@{/shopping-list/new}" th:method="POST">
        <input type="hidden" name="_method" value="PATCH"/>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <div id="storeModal" class="modal" th:if="${stores}">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Assign Ingredients to Stores</h2>

                <label for="store-select">Select Store:</label>
                <select id="store-select">
                    <option th:each="store : ${stores}" th:value="${store.name}" th:text="${store.name}"></option>
                </select>

                <label for="ingredient-select">Select Ingredient:</label>
                <select id="ingredient-select"></select>

                <div class="wrapper-assign">
                    <button type="button" id="assign-btn" onclick="assignIngredientToStore()">Assign</button>
                </div>

                <h3>Assigned Ingredients</h3>
                <ul id="assigned-list"></ul>


                <input type="hidden" name="assignments" id="assignments-input">

                <div class="submit-wrapper-btn">
                    <button type="submit">Submit</button>
                </div>

            </div>
        </div>
    </form>

</div>

<script>
    window.storeAssignments = {};

    function addIngredient() {
        const input = document.getElementById("ingredient");
        const ingredient = input.value.trim();
        if (ingredient !== "") {
            const list = document.getElementById("ingredients-list");
            const li = document.createElement("li");


            li.innerHTML = `<span>${ingredient}</span>
                            <input type="hidden" name="ingredients" value="${ingredient}"/>
                            <button type="button" class="remove-btn" onclick="removeIngredient(this)">X</button>`;
            list.appendChild(li);

            input.value = "";
        }
    }


    function removeIngredient(button) {
        const listItem = button.parentElement;
        listItem.remove();


    }
    function openModal() {
        document.getElementById("storeModal").style.display = "block";


        const ingredientsList = document.querySelectorAll("#ingredients-list li");
        const ingredientSelect = document.getElementById("ingredient-select");


        ingredientSelect.innerHTML = "";


        ingredientsList.forEach(li => {
            let ingredient = li.textContent.replace("X", "").trim();
            let option = document.createElement("option");
            option.value = ingredient;
            option.textContent = ingredient;
            ingredientSelect.appendChild(option);
        });
    }
    function closeModal() {
        document.getElementById("storeModal").style.display = "none";
    }

    function assignIngredientToStore() {
        const store = document.getElementById("store-select").value;
        const ingredient = document.getElementById("ingredient-select").value;

        if (!storeAssignments[store]) {
            storeAssignments[store] = [];
        }

        if (!storeAssignments[store].includes(ingredient)) {
            storeAssignments[store].push(ingredient);
            updateAssignedList();
            let ingredientSelect = document.getElementById("ingredient-select");
            ingredientSelect.querySelector(`option[value="${ingredient}"]`).remove()
        }


    }

    function updateAssignedList() {
        const assignedList = document.getElementById("assigned-list");
        assignedList.innerHTML = "";
        let assignmentsArray = [];

        for (let store in storeAssignments) {
            let li = document.createElement("li");
            li.innerHTML = `<strong>${store}:</strong> ${storeAssignments[store].join(", ")}`;
            assignedList.appendChild(li);
            assignmentsArray.push(store + ":" + storeAssignments[store].join(","));
        }
        document.getElementById("assignments-input").value = assignmentsArray.join(";");
    }
</script>

</body>
</html>
