<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/error.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
  <title>Page Not Found</title>

</head>
<body>

<header>
  <h1>CookMaster</h1>
</header>
<main>
  <div class="form-wrapper">
    <h2>404 - Page Not Found</h2>
    <p class="error-text">Check if you turn your microservice.</p>
    <div class="wrapper-btn">
      <a href="/profile" class="submit-btn">Go Home</a>
    </div>
  </div>
</main>
<footer></footer>
</body>
</html>
