<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to CookMaster Smart</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

<header>
    <div class="logo">
        <img src="img/apple.png" alt="CookMaster Smart Logo">
        <span id="logo-text">CookMaster Smart</span>
    </div>
    <nav id="nav">
        <button onclick="window.location.href='/signup';" id="sign-up-btn">Sign Up</button>
        <button onclick="window.location.href='/login';" id="log-in-btn">Log In</button>
    </nav>
</header>

<main>
    <h1>Cook<span id="master-h1">Master</span></h1>
    <h2>Your Ultimate Meal Planning Assistant!</h2>
    <p>Plan your meals, save recipes, and generate shopping lists effortlessly.</p>
</main>

<footer>
    <p>© 2025 Smart Wallet. All rights reserved.</p>
</footer>

</body>
</html>
