<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu of the Day</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">

</head>
<body>

<header>
    <h1>CookMaster</h1>
    <h2>Menu of the <span th:text="${dayName} ?: 'No data received'"></span></h2>
</header>

<main>

    <div class="card">
        <form th:method="POST" th:action="@{/menu/new}" id="menu-form" th:object="${menuRequest}">
            <input type="hidden" name="dayOfWeek" th:value="${dayName}" />
        <div class="menu-container">

            <label>Breakfast:</label>
            <select th:field="*{breakfastId}">
                <option value=""  >Choose...</option>
                <option th:each="breakfast : ${breakfastDishes}" th:value="${breakfast.id}" th:text="${breakfast.name}"></option>

            </select>
            <div th:if="${#fields.hasErrors('breakfastId')}" style="color: red;">
                <p th:errors="*{breakfastId}"></p>
            </div>

            <label>Lunch:</label>
            <select th:field="*{lunchId}">
                <option value=""  >Choose...</option>
                <option th:each="lunch : ${lunchDishes}" th:value="${lunch.id}" th:text="${lunch.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('lunchId')}" style="color: red;">
                <p th:errors="*{lunchId}"></p>
            </div>
            <label>Dinner:</label>
            <select th:field="*{dinnerId}">
                <option value="" >Choose...</option>
                <option th:each="dinner : ${dinnerDishes}" th:value="${dinner.id}" th:text="${dinner.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('dinnerId')}" style="color: red;">
                <p th:errors="*{dinnerId}"></p>
            </div>
        </div>

        <div id="wrapper-btn">
            <button type="submit" id="save-menu">Save Menu</button>
        </div>

        </form>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        const dayIndex = urlParams.get("day");
        const daysOfWeek = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];

        document.getElementById("menu-title").textContent = `${daysOfWeek[dayIndex]} Menu`;


        const savedMenu = JSON.parse(localStorage.getItem(`menu-${dayIndex}`)) || {};
        document.getElementById("breakfast").value = savedMenu.breakfast || "panecakes";
        document.getElementById("lunch").value = savedMenu.lunch || "sandwich";
        document.getElementById("dinner").value = savedMenu.dinner || "pasta";


        document.getElementById("save-menu").addEventListener("click", function() {
            const selectedMenu = {
                breakfast: document.getElementById("breakfast").value,
                lunch: document.getElementById("lunch").value,
                dinner: document.getElementById("dinner").value
            };

            localStorage.setItem(`menu-${dayIndex}`, JSON.stringify(selectedMenu));
            alert("Menu is ready!");
        });
    });

</script>

</body>
</html>
