<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Dish Not Found</title>
    <link rel="stylesheet" type="text/css" href="/css/not-found-dish.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body>
<h1>CookMaster</h1>
<h2>404 - Dish Not Found</h2>
<p class="error-text">Damn, we don't have that dish! Time to hit the kitchen and make it yourself!</p>
<div class="pizza-container"></div>
<a href="/dish/create" class="home-btn">Create Dish</a>
<a href="/dish/searching" class="home-btn">Go Back</a>
</body>
</html>
