<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/shopping.css">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Shopping List</title>
</head>
<body>
<header>
    <h1>CookMaster</h1>
    <h2>Shopping List</h2>
</header>

<main>
    <div class="wrapper-card">
        <div th:if="${#lists.isEmpty(stores)}">
            <p id="special-text">No stores have been created yet!</p>
        </div>

        <div class="wrapper-shopping">

            <div th:each="store : ${stores}" class="dish-card">
                <h4 th:text="${store.name}">Store Name</h4>

                <div class="store-info">

                    <p><strong>Address:</strong> <span th:text="${store.address != null and store.address != '' ? store.address : 'Not selected'}"></span></p>
                    <p><strong>Phone:</strong> <span th:text="${store.phone != null and store.phone != '' ? store.phone : 'Not selected'}"></span></p>
                    <p><strong>Notes:</strong> <span th:text="${store.notes != null and store.notes != '' ? store.notes : 'Not selected'}"></span></p>
                </div>


                <ul id="ingredients-list">
                    <th:block th:each="ingredient : ${store.ingredients}">
                        <li th:text="${ingredient.name}"  th:attr="data-ingredient-id=${ingredient.id}"></li>

                    </th:block>
                    <li th:if="${#lists.isEmpty(store.ingredients)}">No ingredients available</li>
                </ul>

                <form id="form" th:action="@{/shopping/products/purchase}"  th:method="POST">
                    <div class="actions">
                        <input type="hidden" name="_method" value="PATCH"/>
                        <input type="hidden" name="storeName" th:value="${store.name}">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <button type="submit" id="mark-bought" onclick="markAsBought()">Bought</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <a th:href ="@{/users/{id}/profile/go-back(id=${user.id})}">
        <button id="cancel-btn">Go Back</button>
    </a>
</main>

<script>
    function markAsBought() {
        alert("Item marked as bought!");
    }

    document.addEventListener("DOMContentLoaded", function () {
        const ingredients = document.querySelectorAll("#ingredients-list li");
        const storedKeys = Object.keys(localStorage);
        storedKeys.forEach(key => {
            const exists = Array.from(ingredients).some(li => li.getAttribute("data-ingredient-id") === key);
            if (!exists) {
                localStorage.removeItem(key);
            }
        });
        ingredients.forEach(li => {
            const ingredientId = li.getAttribute("data-ingredient-id");


            if (localStorage.getItem(ingredientId) === "bought") {
                li.classList.add("bought");
            }

            if (li.textContent !== "No ingredients available") {
                li.addEventListener("click", function () {
                    this.classList.toggle("bought");


                    if (this.classList.contains("bought")) {
                        localStorage.setItem(ingredientId, "bought");
                    } else {
                        localStorage.removeItem(ingredientId);
                    }
                });
            }
        });
    });

</script>

</body>
</html>
