<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Store</title>
    <link rel="stylesheet" type="text/css" href="/css/store.css">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

<header>
    <h1>CookMaster</h1>
    <h2>Create Store</h2>
</header>

<main>

    <form id="store-form" th:action="@{/store/new}" th:method="POST" th:object="${createStore}">
    <div class="card">
        <div class="img-wrapper">
            <img src="https://cdn-icons-png.flaticon.com/512/1795/1795901.png" alt="" id="icon">
        </div>
        <div class="shop-info">
            <div class="input-row">
                <label for="name"><span class="required">* </span>Store Name:</label>
                <input type="text" id="name" placeholder="Enter store name" th:field="${createStore.storeName}">
                <div th:if="${errors}" class="error">
                    <ul>
                        <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
                    </ul>
                </div>
            </div>
            <div class="input-row">
                <label for="address">Address:</label>
                <input type="text" id="address" placeholder="Enter store address (optional)" th:field="${createStore.address}">
                <div th:if="${errors}" class="error">
                    <ul>
                        <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
                    </ul>
                </div>
            </div>
            <div class="input-row">
                <label for="phone"><span class="required">* </span>Phone Number:</label>
                <input type="text" id="phone" placeholder="Enter phone number" th:field = "${createStore.phoneNumber}">
                <div th:if="${errors}" class="error">
                    <ul>
                        <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
                    </ul>
                </div>
            </div>
            <div class="input-row">
                <label for="notes">Notes:</label>
                <input type="text" id="notes" placeholder="Additional notes (optional)" th:field="${createStore.notes}">
                <div th:if="${errors}" class="error">
                    <ul>
                        <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
                    </ul>
                </div>
            </div>
            <div class="button-group">
                <button class="save-btn" type="submit">Save Store</button>

            </div>
        </div>
    </div>
    </form>
</main>


</body>

</html>
